name: Docker images build

on:
  push:
    branches: ['*']
  schedule:
    - cron: '30 0 1 * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: openrc-alpine
            dockerfile: openrc/alpine/Dockerfile
            platforms: |-
              linux/amd64
            tags: |-
              jrei/openrc-alpine:latest
          - name: aports-dev
            dockerfile: aports-dev/Dockerfile
            platforms: |-
              linux/amd64
            tags: |-
              jrei/aports-dev:latest
          - name: systemd-centos-7
            dockerfile: systemd/centos/7.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-centos:7
          - name: systemd-centos-8
            dockerfile: systemd/centos/8.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm64
            tags: |-
              jrei/systemd-centos:8
              jrei/systemd-centos:latest
          - name: systemd-debian-10
            dockerfile: systemd/debian/10.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-debian:10
              jrei/systemd-debian:buster
          - name: systemd-debian-11
            dockerfile: systemd/debian/11.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-debian:11
              jrei/systemd-debian:bullseye
          - name: systemd-debian-12
            dockerfile: systemd/debian/12.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-debian:12
              jrei/systemd-debian:bookworm
              jrei/systemd-debian:latest
          - name: systemd-debian-13
            dockerfile: systemd/debian/13.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-debian:13
              jrei/systemd-debian:trixie
          - name: systemd-debian-sid
            dockerfile: systemd/debian/sid.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-debian:sid
          - name: systemd-fedora-latest
            dockerfile: systemd/fedora/Dockerfile
            platforms: |-
              linux/amd64
              linux/arm64
            tags: |-
              jrei/systemd-fedora:latest
          - name: systemd-fedora-41
            dockerfile: systemd/fedora/41.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm64
            tags: |-
              jrei/systemd-fedora:41
          - name: systemd-fedora-42
            dockerfile: systemd/fedora/42.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm64
            tags: |-
              jrei/systemd-fedora:42
              jrei/systemd-fedora:latest
          - name: systemd-ubuntu-16.04
            dockerfile: systemd/ubuntu/16.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:16.04
              jrei/systemd-ubuntu:xenial
          - name: systemd-ubuntu-18.04
            dockerfile: systemd/ubuntu/18.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:18.04
              jrei/systemd-ubuntu:bionic
          - name: systemd-ubuntu-20.04
            dockerfile: systemd/ubuntu/20.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:20.04
              jrei/systemd-ubuntu:focal
          - name: systemd-ubuntu-22.04
            dockerfile: systemd/ubuntu/22.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:22.04
              jrei/systemd-ubuntu:jammy
          - name: systemd-ubuntu-24.04
            dockerfile: systemd/ubuntu/24.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:24.04
              jrei/systemd-ubuntu:noble
          - name: systemd-ubuntu-25.04
            dockerfile: systemd/ubuntu/25.04.Dockerfile
            platforms: |-
              linux/amd64
              linux/arm/v7
              linux/arm64
            tags: |-
              jrei/systemd-ubuntu:25.04
              jrei/systemd-ubuntu:plucky
              jrei/systemd-ubuntu:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: jrei
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push ${{ matrix.name }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: true
          tags: ${{ matrix.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}
